.app__login {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--color-dark);
  padding-top: 0;
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 650px) {
  .app__login {
    padding: 0 0 2rem 0;
  }
  .app__login-form {
    max-width: 80%;
  }
}

@media screen and (max-width: 350px) {
}
