.app__form {
  padding: 2rem 4rem;
  border: 1px solid var(--color-primary);
  background: var(--color-dark);
  min-width: 650px;
}

.app__form-heading {
  text-align: center;
}

.app__form-input {
  flex-direction: column;
  margin-top: 3rem;
}

.app__form-input input {
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: var(--color-white);
  margin-right: 2rem;
  padding: 0.75rem 1rem;
  margin: 0 0 2rem 0;
  background: var(--color-dark);
}

.app__form-input button {
  width: max-content;
}

@media screen and (min-width: 2000px) {
  .app__form {
    min-width: 1160px;
  }

  .app__form-input input {
    font-size: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .app__form-input {
    width: 100%;
  }
  .app__form-input input {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .app__form {
    min-width: 100%;
    padding: 2rem 0;
    border: none;
  }
}

@media screen and (max-width: 300px) {
  .app__form-heading h1 {
    font-size: 32px;
    line-height: 50px;
  }
}
